.App {
  text-align: center;
}
/* For the horizontal scroll container */
.scroll-container {
  display: flex;
  overflow-x: scroll; /* Allows horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
  white-space: nowrap; /* Prevent line breaks */
  scrollbar-width: none; /* For Firefox - hides scrollbar */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge - hides scrollbar */
}

.scroll-item {
  flex: 0 0 100vw; /* Each section takes up 100% of the viewport width */
  height: 100vh; /* Full viewport height */
}

.map-wrapper {
  width: 100%; /* Full width of parent container */
 /* Adjust the height as needed */
}

.leaflet-container {
  width: 100%; /* Fill the wrapper */
  height: 100%;
}

/* Loader overlay */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(23, 23, 23, 1); /* Semi-transparent background */
  z-index: 2000; /* Ensure it is above content but below navbar */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Prevent scrolling */
.no-scroll {
  overflow: hidden;
}

/* Spinning PNG image */
.loader-image {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
