.App {
  text-align: center;
}
/* For the horizontal scroll container */
.scroll-container {
  display: flex;
  overflow-x: scroll; /* Allows horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
  white-space: nowrap; /* Prevent line breaks */
  scrollbar-width: none; /* For Firefox - hides scrollbar */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge - hides scrollbar */
}

.scroll-item {
  flex: 0 0 100vw; /* Each section takes up 100% of the viewport width */
  height: 100vh; /* Full viewport height */
}

.scroll-item.half-width {
  flex: 0 0 50vw; /* Half of the viewport width */
}

.map-wrapper {
  width: 100%; /* Full width of parent container */
 /* Adjust the height as needed */
}

.leaflet-container {
  width: 100%; /* Fill the wrapper */
  height: 100%;
}


